<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<body>
<!-- 导航栏片段 -->
<nav th:fragment="navbar" class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/web/home}">
            <i class="fas fa-rocket me-2"></i>我的系统
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/index}">
                        首页
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/activity}">
                        活动
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/category}">
                        分类
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/test}">
                        可视化
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>