<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plume.plrtime.mapper.ActivitiesMapper">

    <resultMap id="BaseResultMap" type="com.plume.plrtime.pojo.Activities">
            <id property="activityId" column="activity_id" />
            <result property="userId" column="user_id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="createdAt" column="created_at" />
            <result property="categoryId" column="category_id" />
    </resultMap>

    <sql id="Base_Column_List">
        activity_id,user_id,name,description,created_at,category_id
    </sql>
</mapper>
